<!DOCTYPE html>
<html ng-app="ListaTelefonica" lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Lista Telefonica</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" text="text/css" href="../../assets/css/style.css">
  <script src="../../assets/js/angular.js"></script>
  <script src="../../assets/js/angular-messages.min.js"></script>
  <script src="../../assets/js/angular-locale_pt-br.js"></script>
  <script src="../app.js"></script>
  <script src="../controllers/ListaTelefonicaController.js"></script>
  <script src="../services/ContatosService.js"></script>
  <script src="../services/OperadorasService.js"></script>
  <script src="../services/SerialGeneratorProvider.js"></script>
  <script src="../configs/config.js"></script>
  <script src="../configs/SerialGeneratorConfig.js"></script>
  <script src="../filters/nameFilter.js"></script>
  <script src="../filters/ellipsisFilter.js"></script>
  <script src="../directives/alertDirective.js"></script>
</head>

<body ng-controller="ListaTelefonicaController">
  <div class="jumbotron">
    <h4>{{ app }}</h4>

    <alert title="Oops, ocorreu um problema!">
      Não foi possível carregar os dados.
    </alert>

    <table ng-show="contatos.length" class="table table-striped">
      <input type="text" class="form-control mt-1 mb-1" ng-model="criterioDeBusca" placeholder="O que você busca?" />
      <tr>
        <th></th>
        <th>Serial</th>
        <th><a href="" ng-click="ordenarPor('Nome')">Nome</a></th>
        <th><a href="" ng-click="ordenarPor('Telefone')">Telefone</a></th>
        <th>Operadora</th>
        <th>Data</th>
      </tr>
      <tr ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao ">
        <td><input type="checkbox" ng-model="contato.selecionado" /></td>
        <td>{{ contato.Serial }}</td>
        <td>{{ contato.Nome | name | ellipsis: 7 }}</td>
        <td>{{ contato.Telefone }}</td>
        <td>{{ contato.NomeOperadora }}</td>
        <td>{{ contato.DataRegistro | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
      </tr>
    </table>

    <hr />
    <form name="contatoForm">
      <input type="text" class="form-control mb-2" name="nome" ng-model="contato.nome" ng-required="true"
        placeholder="Nome" />
      <input type="text" class="form-control" name="telefone" ng-model="contato.telefone" ng-required="true"
        ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="Telefone" />
      <select class="form-control mt-2" name="operadora" ng-model="contato.operadora"
        ng-options="operadora.CodOperadora as operadora.Nome + ' - ' + (operadora.Preco | currency) group by operadora.Categoria for operadora in operadoras | orderBy:'nome'"
        ng-required="true">
        <option value="">Selecione uma operadora...</option>
      </select>
      <button type="button" class="btn btn-success btn-block mt-1" ng-click="adicionarContato(contato)"
        ng-disabled="contatoForm.$invalid">
        Adicionar contato
      </button>
      <button type="button" class="btn btn-danger btn-block mt-1" ng-click="apagarContatos(contatos)"
        ng-if="isContatoSelecionado(contatos)">
        Apagar contatos
      </button>
    </form>
    <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
      <div ng-message="required" class="alert alert-danger">
        <p class="text-center">Preencha o campo <strong>Nome</strong>.</p>
      </div>
    </div>
    <div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
      <div ng-message="required" class="alert alert-danger">
        <p class="text-center">Preencha o campo <strong>Telefone</strong>.</p>
      </div>
      <div ng-message="pattern" class="alert alert-danger">
        <p class="text-center">O campo Telefone está com um formato inválido. Formato válido: 00000-0000</p>
      </div>
    </div>
    <div ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" class="alert alert-danger">
      <p class="text-center">Campos obrigatórios: <strong>Operadora</strong>.</p>
    </div>
  </div>
</body>

</html>
